<select onchange="replace_coach(this, '<%= user_id %>')">
	<option>Select Coach</option>
	<% coaches.forEach(function(coach, i) { %>
		<option value="<%= coach.id %>"><%= coach.first_name %>&nbsp;<%= coach.last_name %></option>
	<% }); %>
</select>
<i class="icm icm-cancel-circle pull-right" onclick="ajax_call('/hr_admin/show_coach/<%= user_id %>', 'replace-coach')"></i>