<!--<ul class="nav nav-tabs">
	<li class="li_tab active"><a href="/hr_admin/dashboard">Monthly</a></li>
  	<li class="li_tab"><a onclick="ajax_call('/hr_admin/show_quarterly_login_graph/Second','login_dashboard')">Yearly</a></li>
</ul>-->
<h6 style="display: inline-block; float: left; margin: 10px"><%= name %></h6>
<select style="float: right; margin: 10px" onchange="show_monthly_login_graph(this)">
	<option>Select Month</option>
	<option>January</option>
	<option>February</option>
	<option>March</option>
	<option>April</option>
	<option>May</option>
	<option>June</option>
	<option>July</option>
	<option>August</option>
	<option>September</option>
	<option>October</option>
	<option>November</option>
	<option>December</option>
</select>
<div id="chart_login" style="text-align: center">
	
</div>
<script>
	var data = [];
	<% daily_activity.forEach(function(x, j) { %>
		data[<%= j %>] = {};
		data[<%= j %>].day = '<%= x.day %>';
		data[<%= j %>].count = <%= x.count %>;
	<% }); %>
	d3_login_display(data, 'No. of Users', 'chart_login', 'false', 'Day');
</script>