<% users.forEach(function(playlist,i) { %>
	<div class="<%= i%2 == 0 ? 'even' : 'odd' %>">
		<a class="close" href="#" onclick="add_user_to_event('<%= playlist.id %>','<%= val %>')" style="font-size: 12px">Add User</a>
		<span>
			<span id="search_span_<%= playlist.id %>"><%= playlist.first_name %>&nbsp;<%= playlist.last_name %></span>
		</span>
	</div>
	
<% }); %>