<div class="modal-dialog">
	<div class="modal-content">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="coordinator_event_details('hide')">&times;</button>
		    <h4 class="modal-title" id="myModalLabel">Event Details</h4>
		  </div>
		  
		  <div class="modal-body" style="background: #fff">
		  		<table class="table table-bordered">
				<tr>
					<td>Name:</td>
					<td><%= event.name %></td>
				</tr>
				
				<tr>
					<td>College:</td>
					<td><%= event.organization.name %></td>
				</tr>
				
				<tr>
					<td>Status:</td>
					<td><%= event.status %></td>
				</tr>
				
				<tr>
					<td>Trainer:</td>
					<td><%= event.ModeratorId != null && user != null && user!= '' ? user.username : ''%></td>
				</tr>
				
				<tr>
					<td>Skill:</td>
					<td><%= event.skill != null ? event.skill.name : ''%></td>
				</tr>
				
				<tr>
					<td>Module:</td>
					<td><%= event.module != null ? event.module.name : ''%></td>
				</tr>
				
				<% if(currentUser.permission == 'istarCoordinator') { %>
				<tr>
					<td colspan="2" class="text-center">
						
						<% if(event.status == 'Done Event' || event.status == 'checkout') { %>
				        	<a data-toggle="modal" data-target="#uide4b3dde6bb5097375d99eb18a83d7146" onclick="ajax_call('/coordinator/view_attendance/<%= event.id %>','uide4b3dde6bb5097375d99eb18a83d7146')" class="btn btn-warning" title="Attendance">View Attendance</a>
				        	<a data-toggle="modal" data-target="#uide4b3dde6bb5097375d99eb18a83d7146" onclick="ajax_call('/coordinator/view_trainer_feedback/<%= event.id %>','uide4b3dde6bb5097375d99eb18a83d7146')" class="btn btn-warning" title="Feedback">View Feedback</a>
				        <% } %>
				        <% if(event.status != 'Done Event' && event.status != 'checkout') { %>
				        	<a data-toggle="modal" data-target="#uide4b3dde6bb5097375d99eb18a83d7146" onclick="ajax_call('/coordinator/assign_skill_trainer_to_event/<%= event.id %>','uide4b3dde6bb5097375d99eb18a83d7146')" class="btn btn-primary" title="Edit Event" onclick="">Edit Event</a>
							<a href="/coordinator/delete_event/<%= event.id %>" class="btn btn-danger" title="Delete Event" onclick="">Delete Event</a>
						<% } %>
					</td>
				</tr>
				<% } %>
				
			</table>
		  </div>
	</div>
</div>


