<div class="modal-dialog">
    <div class="modal-content">
      		
      <div class="modal-header">
        <a class="close" onclick="coordinator_event_details('hide')">&times;</a>
        <h4 class="modal-title" id="myModalLabel">Edit Question</h4>
      </div>
      
      <div class="modal-body">
      
      	<form role="form" method="POST" action="/content/do_edit_question_ajax" target="target-frame">
			  <div class="form-group">
			  	<label>Text</label>
			  	<textarea class="form-control" rows="3" name="text" id="text"><%= problem.text %></textarea>
			  </div>
			  
			  <div class="form-group">
			  	<label>Difficulty Level</label>
			  	<select name="difficultyLevel" id="difficultyLevel" class="form-control">
			  		<% if(problem.difficultyLevel) { %>
			  			<option value="<%= problem.difficultyLevel %>"><%= problem.difficultyLevel %></option>
			  		<% } %>
			  		<option value="Easy">Easy</option>
			  		<option value="Medium">Medium</option>
			  		<option value="Difficult">Difficult</option>
			  	</select>
			  </div>
			  
			  <div class="form-group">
			  	<label>What is Tested</label>
			  	<select name="whatIsTested" id="whatIsTested" class="form-control">
			  		<% if(problem.whatIsTested) { %>
			  			<option value="<%= problem.whatIsTested %>"><%= problem.whatIsTested %></option>
			  		<% } %>
			  		<option value="Knowledge">Knowledge</option>
			  		<option value="Recognition">Recognition</option>
			  		<option value="Application">Application</option>
			  	</select>
			  </div>
			  
			  <div class="form-group">
			  	<label>Answer Type</label>
			  	<select name="type" id="type" class="form-control">
			  		<% if(problem.type) { %>
			  			<option value="<%= problem.type %>"><%= problem.type %></option>
			  		<% } %>
			  		<option value="Single">MCQ (Single Answer)</option>
			  		<option value="Multiple">MCQ (Multiple Answer)</option>
			  		<option value="Text">Text</option>
			  	</select>
			  </div>
			  
			  <div class="form-group">
			  	<label>Positive Score (+)</label>
			  	<input type="text" name="positiveScore" id="positiveScore" value="<%= problem.positiveScore %>"/>
			  	&nbsp;&nbsp;&nbsp;
			  	<label>Negative Score (-)</label>
			  	<input type="text" name="negativeScore" id="negativeScore" value="<%= problem.negativeScore %>"/>
			  </div>
			  
			  <div class="form-group">
			    <% if(problem.isMandatory) { %>
			    	<input type="checkbox" name="isMandatory" class="" checked="checked">&nbsp;&nbsp;<label>Mandatory</label>
			    	&nbsp;&nbsp;&nbsp;&nbsp;
			    <% } %>
			    <% if(!problem.isMandatory) { %>
			    	<input type="checkbox" name="isMandatory" class="" >&nbsp;&nbsp;<label>Mandatory</label>
			    	&nbsp;&nbsp;&nbsp;&nbsp;
			    <% } %>
			    
			    <% if(problem.isCritical) { %>
			    	<input type="checkbox" name="isCritical" class="" checked="checked">&nbsp;&nbsp;<label>Critical</label>
			    <% } %>
			    <% if(!problem.isCritical) { %>
			    	<input type="checkbox" name="isCritical" class="">&nbsp;&nbsp;<label>Critical</label>
			    <% } %>
			    
			  </div>
			  
			  <label> Tag Question</label>
			  <div class="form-group">
				<div class="row" id="tags" style="margin: auto">
					<% tags.forEach(function(tag) { %>
						<span class='label label-primary'><%= tag.name %><a style='margin-left: 10px; cursor: default; color: #fff' href="#" onclick="ajax_call('/content/delete_problem_tag_ajax/<%= problem.id %>/<%= tag.id %>/<%= test_id %>','uide4b3dde6bb5097375d99eb18a83d7146')">X</a></span>
					<% }); %>
				</div>
				<div class="input-group">
					<input type="hidden" name="tag_name_id" id="tag_name_id" />
					<input type="text" name="tag_name" class="form-control" id="tag_name" placeholder="Type and Click Add">
				  	<span class="input-group-addon" onclick="add_problem_tag_ajax('<%= problem.id %>', '<%= test_id %>')" style="border: 1px solid #e1e1e1; cursor: pointer">Add</span>
				</div>
				
			 </div>
			  
			 <input type="hidden" name="problem_id" value="<%= problem.id %>" />
			 <input type="hidden" name="test_id" value="<%= test_id %>" />
			  
			  <input type="submit" value="Submit" class="btn btn-success" onclick="coordinator_event_details('hide')"/>
			  <input type="button" value="Back" class="btn btn-default" onclick="modal_ajax_call('/content/add_question_to_test/<%= test_id %>','uide4b3dde6bb5097375d99eb18a83d7146')"/>
		</form>
		<iframe id="target-frame" name="target-frame" style="width:0;height:0;border:0px"></iframe>
      
      </div>
	</div>
</div>



<script type="text/javascript">
$("#tag_name").autocomplete({
      source: function( request, response ) {
      	$.ajax({
          url: "/content/get_tags/"+request.term,
	      success: function(data) {
	      	response(data);
	      }
        });
      },
      minLength: 1,
      select: function( event, ui ) {
      	$('#tag_name').val(ui.item.label);
      	$('#tag_name_id').val(ui.item.value);
      	return false;
      }
});
</script>

<div class="DimBg"></div>
<div class="modal" id="modal_preview"></div>
