<% layout('../layout') %>

<ul class="nav nav-tabs">
  <li class="li_tab"><a href="/hr_admin/dashboard">Company L&D Stats</a></li>
  <li class="li_tab"><a href="/hr_admin/list_roles/<%= currentUser.id %>">Roles</a></li>
  <li class="li_tab"><a href="/hr_admin/list_modules/<%= currentUser.id %>">Modules</a></li>
  <li class="li_tab"><a href="/users/list">Employees</a></li>
  <li class="li_tab active"><a href="/hr_admin/track">Search</a></li> 
</ul>

<% include ../util/errors %>

<div style="border-style: solid; border-width: 1px; border-color: #ddd; border-radius: 5px 5px 5px 5px; padding: 2em; margin-top: 2%; text-align: center">
	<p style="font-size: 24px;">Track an Employee's Competency Development</p>
	<div style="margin-top: 2%">
		<form class="navbar-form" action="/users/search" method="POST">
			<div class="form-group">
				<input name="search" id="search" type="text" placeholder="Search" class="form-control" value="<%= keyword %>">
			</div>
			<button type="submit" id="search_button" class="btn btn-success">
			  <span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
	</div>
	<div style="margin-top: 2%" id="search_results">
		<div class="tab-pane fade in active" id="user_list">
		
			<table class="table	table-bordered" style="margin-top: 4%">
				<thead>
					<th>ID</th>
					<th>Name</th>
					<th>Username</th>
					<th>Email</th>
					<th>Role</th>
					
					
				<thead>
				<tbody>
					<% users.forEach(function(user) { %>
					<tr>
						<td align="left"><a href="/users/detail/<%= user.id %>?keyword=<%= keyword %>"><%= user.id %></a></td>
						<td align="left"><%= user.name %></td>
						<td align="left"><%= user.username %></td>
						<td align="left"><%= user.email %></td>
						<td align="left"><%= user.role %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		
		</div>
		<div class="tab-pane fade" id="user_detail">
		</div>
	</div>
	<div class="row" style="display: none; position: relative; top: -5px;">
		<p class="alert alert-danger" id="search_results_error"></p>
	</div>
</div>


	


